
# Ignore files and directories that should not be tracked by Git
.DS_Store

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env

# Cache and build
dist/
build/
coverage/

# Editor configs
.vscode/
.idea/

